<ion-view view-title="Calendar">
  <ion-content>

    <div class="list card">
      <div class="item">
        <h2>Birthdays</h2>
      </div>
      <div class="item item-body">
        <ion-list>
          <ion-item class="item item-thumbnail-left">
            <img src="http://png.findicons.com/files/icons/1072/face_avatars/300/n05.png" >
            <p>
              Rossano Polvara<br/>
              Today<br/>
              30 years old
            </p>
          </ion-item>
          <ion-item class="item item-thumbnail-left">
            <img src="http://png.findicons.com/files/icons/1072/face_avatars/300/a01.png" >
            <p>
              Ray Sponsible<br/>
              Tomorrow<br/>
              12 years old
            </p>
          </ion-item>
          <ion-item class="item item-thumbnail-left">
            <img src="http://png-4.findicons.com/files/icons/1072/face_avatars/300/g05.png" >
            <p>
              John Smith<br/>
              Tomorrow<br/>
              12 years old
            </p>
          </ion-item>
        </ion-list>
      </div>
    </div>

    <div class="list card">
      <div class="item item-avatar">
        <img src="https://www.insidesoccer.com/is5-asset/4/34/2122434/2122434_1376492773733.jpg" class="team-logo">
        <h2>Game: vs Chelsea FC <span class="item-note"><img src="img/jersey-red.png" class="jersey"></span></h2>
        <p><span class="team-name">B98 - New York Soccer Club</span></p>
      </div>
      <div class="item item-body">
        <p><i class="ion-android-calendar"></i> Mon, Apr 1 2015 at 1:30 PM</p>
        <p><i class="ion-ios-location"></i> <a href="http://maps.apple.com?q=340+pascal+laval">Mark's house - 4040 Linton, NY 12311, US</a></p>
        <p><a href="#/app/event">More...</a></p>
      </div>
    </div>

    <div class="list card">
      <div class="item item-avatar">
        <img src="https://www.insidesoccer.com/is5-asset/3/03/2135603/2135603_1428601960032.png" >
        <h2>Game: vs Brooklyn FC <span class="item-note"><img src="img/jersey-white.png" class="jersey"></span></h2>
        <p><span class="team-name">B98 - New York Soccer Club</span></p>
      </div>
      <div class="item item-body">
        <p><i class="ion-android-calendar"></i> Mon, Apr 1 2015 at 1:30 PM</p>
        <p><i class="ion-ios-location"></i> <a href="#">Mark's house - 4040 Linton, NY 12311, US</a></p>
        <p><a href="#/app/event">More...</a></p>
      </div>
    </div>

    <div class="list card">
      <div class="item item-avatar">
        <img src="https://www.insidesoccer.com/is5-asset/3/03/2135603/2135603_1428601960032.png" >
        <h2>Practice</h2>
        <p><span class="team-name">B98 - New York Soccer Club</span></p>
      </div>
      <div class="item item-body">
        <p><i class="ion-android-calendar"></i> Mon, Apr 1 2015 at 1:30 PM</p>
        <p><i class="ion-ios-location"></i> <a href="#">Olympic Stadium - 4040 Linton, NY 12311, US</a></p>
        <p><a href="#/app/event">More...</a></p>
      </div>
    </div>

    <div class="list card">
      <div class="item item-avatar">
        <img src="https://www.insidesoccer.com/is5-asset/4/34/2122434/2122434_1376492773733.jpg" class="team-logo">
        <h2>Game: vs Chelsea FC <span class="item-note"><img src="img/jersey-red.png" class="jersey"></span></h2>
        <p><span class="team-name">B98 - New York Soccer Club</span></p>
      </div>
      <div class="item item-body">
        <p><i class="ion-android-calendar"></i> Mon, Apr 1 2015 at 1:30 PM</p>
        <p><i class="ion-ios-location"></i> <a href="#">Mark's house - 4040 Linton, NY 12311, US</a></p>
        <p><a href="#/app/event">More...</a></p>
      </div>
    </div>

  </ion-content>
</ion-view>
