<ion-view view-title="Event">
  <ion-content>
      <div class="list card">
        <div class="item item-avatar">
          <img src="https://www.insidesoccer.com/is5-asset/4/34/2122434/2122434_1376492773733.jpg" class="team-logo">
          <h2>Game: vs Chelsea FC <img src="img/jersey-red.png" class="jersey pull-right"/></h2>
          <p>Team: <span class="team-name">B98 - New York Soccer Club</span></p>
          <p></p>
        </div>

        <div class="item item-body">
          <p><i class="ion-android-calendar"></i> Mon, Apr 1 2015 at 1:30 PM</p>
          <p><i class="ion-ios-location"></i> <a href="http://maps.apple.com?q=340+pascal+laval">Mark's house - 4040 Linton, NY 12311, US</a></p>
        <!--
          <img src="https://maps.googleapis.com/maps/api/staticmap?zoom=13&size=600x300&sensor=true&center=840+King+Street+Rye+Brook+10573+US&markers=label:A%7C840+King+Street+Rye+Brook+10573+US" />
        -->
        
          <p>
            this is the description of the event.<br/>
            this is the description of the event.<br/>
            this is the description of the event.<br/>
            this is the description of the event.<br/>
          </p>
        </div>
      </div>
      <div class="list card">
        <div class="item">
          <h3>Attendees</h3>
        </div>
        <div class="item item-body">
          <ion-list>
            <ion-item class="item item-thumbnail-left item-button-wight">
              <img src="http://png.findicons.com/files/icons/1072/face_avatars/300/a01.png" >
              <h2>John Smith <span class="item-note">Will Attend</span></h2>
            </ion-item>
            <ion-item class="item item-thumbnail-left item-button-wight">
              <img src="http://png-4.findicons.com/files/icons/1072/face_avatars/300/g05.png" >
              <h2>Ray Sponsible <span class="item-note">Will Attend</span></h2>
              <button class="button button-assertive">
                Change
              </button>
            </ion-item>
            <ion-item class="item item-thumbnail-left item-button-wight">
              <img src="http://png.findicons.com/files/icons/1072/face_avatars/300/n05.png" >
              <h2>Rey Mysterio  <span class="item-note">Unknown</span></h2>
            </ion-item>
            <ion-item class="item item-thumbnail-left item-button-wight">
              <img src="http://png-5.findicons.com/files/icons/1072/face_avatars/300/k02.png" >
              <h2>John Cena  <span class="item-note">Will not Attend</span></h2>
            </ion-item>
          </ion-list>
        </div>
      </div>
    </div>


  </ion-content>
</ion-view>
