<ion-view view-title="Select a Team">
  <ion-content>
    <padding>
      <ion-list>
        <ion-item href="#/app/blog" class="item item-thumbnail-left item-icon-right">
          <img src="https://www.insidesoccer.com/is5-asset/4/34/2122434/2122434_1376492773733.jpg" >
          <h2>NYSC - B96</h2>
          <i class="icon ion-ios-arrow-forward"></i>
        </ion-item>
        <ion-item href="#/app/blog" class="item item-thumbnail-left item-icon-right">
          <img src="https://www.insidesoccer.com/is5-static/images/default_logo.jpg" >
          <h2>NYSC - B97</h2>
          <i class="icon ion-ios-arrow-forward"></i>
        </ion-item>
        <ion-item href="#/app/blog" class="item item-thumbnail-left item-icon-right">
          <img src="https://www.insidesoccer.com/is5-asset/4/24/1426424/1426424_1411486308735.jpg" >
          <h2>NYSC - B98</h2>
          <i class="icon ion-ios-arrow-forward"></i>
        </ion-item>
      </ion-list>
    </padding>
  </ion-content>
</ion-view>
