<ion-view view-title="Videos">
  <ion-content>
      <div class="list card">
        <div class="item item-avatar">
          <img src="http://png-3.findicons.com/files/icons/1072/face_avatars/300/a01.png">
          <h2>Ray Sponsible</h2>
          <p>#10 - Stricker</p>
        </div>

        <div class="item item-body">
          <p>
            <i class="ion-ios-email-outline"></i> <a href="mailto: ray.sponbile@gmail.com">ray.sponbile@gmail.com</a>
          </p>
          <p>
            <i class="ion-ios-telephone"></i> <a href="tel: +2451112311">2451112311</a>
          </p>
          <p>
            <i class="ion-iphone"></i> <a href="tel: +2451112312">2451112312</a>
          </p>
        </div>

        <ion-list>
          <ion-item class="item item-divider">
            <h2>Parents</h2>
          </ion-item>
          <ion-item class="item item-thumbnail-left">
            <img src="http://png-5.findicons.com/files/icons/1072/face_avatars/300/a02.png" >
            <h2>Rossano Sponsible</h2>
            <p>
              <i class="ion-ios-email-outline"></i> <a href="mailto: rossano.sponbile@gmail.com">ray.sponbile@gmail.com</a>
              <br/>
              <i class="ion-ios-telephone"></i> <a href="tel: +2451112311">2451112311</a>
              <br/>
              <i class="ion-iphone"></i> <a href="tel: +2451112312">2451112312</a>
            </p>
          </ion-item>
          <ion-item class="item item-thumbnail-left">
            <img src="http://png-5.findicons.com/files/icons/1072/face_avatars/300/fd01.png" >
            <h2>Jane Sponsible</h2>
            <p>
              <i class="ion-ios-email-outline"></i> <a href="mailto: jane.sponbile@gmail.com">ray.sponbile@gmail.com</a>
              <br/>
            </p>
          </ion-item>
        </ion-list>
        
      </div>
    </div>


  </ion-content>
</ion-view>
