<ion-view view-title="Roster">
  <ion-content>
    <ion-list>
      <ion-item class="item item-divider">
        <h2>Players</h2>
      </ion-item>
      <ion-item href="#/app/player" class="item item-thumbnail-left ">
        <img src="http://png.findicons.com/files/icons/1072/face_avatars/300/a01.png" >
        <h2>John Smith</h2>
        <p>#99 - Goalkeeper</p>
        <i class="icon ion-ios-arrow-forward"></i>
      </ion-item>
      <ion-item href="#/app/player" class="item item-thumbnail-left item-icon-right">
        <img src="http://png-4.findicons.com/files/icons/1072/face_avatars/300/g05.png" >
        <h2>Ray Sponsible</h2>
        <p>#9 - Striker</p>
        <i class="icon ion-ios-arrow-forward"></i>
      </ion-item>
      <ion-item href="#/app/player" class="item item-thumbnail-left item-icon-right">
        <img src="http://png.findicons.com/files/icons/1072/face_avatars/300/n05.png" >
        <h2>Rey Mysterio</h2>
        <p>#10 - Midfieldder</p>
        <i class="icon ion-ios-arrow-forward"></i>
      </ion-item>
      <ion-item href="#/app/player" class="item item-thumbnail-left item-icon-right">
        <img src="http://png-5.findicons.com/files/icons/1072/face_avatars/300/k02.png" >
        <h2>John Cena</h2>
        <p>#11 - Midfieldder</p>
        <i class="icon ion-ios-arrow-forward"></i>
      </ion-item>
    </ion-list>

    <p>&nbsp;</p>

    <ion-list>
      <ion-item class="item item-divider">
        <h2>Coaches</h2>
      </ion-item>
      <ion-item href="#/app/player" class="item item-thumbnail-left item-icon-right">
        <img src="http://png-1.findicons.com/files/icons/1072/face_avatars/300/a03.png" >
        <h2>Rossano Polvara</h2>
        <i class="icon ion-ios-arrow-forward"></i>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
