<ion-view view-title="Videos">
  <ion-content>
    <ion-list>
      <ion-item>
        <div class="list list-inset">
          <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="Search">
          </label>
        </div>
        <div class="row">
          <div class="col">
            <button class="button button-full button-positive">insidesoccer.com</button>
          </div>
          <div class="col">
            <button class="button button-full button-light">My Library</button>
          </div>
        </div>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item href="#/app/watch" class="item item-thumbnail-left item-icon-right">
        <img src="https://admin.insidesoccer.com/is5-asset/9/29/740629/740629_thumbnail_url_1386270704088.jpg" >
        <h2>7v7 game - part 1</h2>
        <p><span class="video-library">Ajax</span></p>
        <p class="video-rating">
          <i class="ion-ios-star"></i>
          <i class="ion-ios-star"></i>
          <i class="ion-ios-star"></i>
          <i class="ion-ios-star-half"></i>
        </p>
        <i class="icon ion-ios-arrow-forward"></i>
      </ion-item>
      <ion-item href="#/app/watch" class="item item-thumbnail-left item-icon-right">
        <img src="https://admin.insidesoccer.com/is5-asset/4/24/731524/731524_thumbnail_url_1381942542784.jpg" >
        <h2>Defending in the final third</h2>
        <p><span class="video-library">Drills and Practices</span></p>
        <p class="video-rating">
          <i class="ion-ios-star"></i>
          <i class="ion-ios-star"></i>
          <i class="ion-ios-star"></i>
          <i class="ion-ios-star"></i>
        </p>
        <i class="icon ion-ios-arrow-forward"></i>
      </ion-item>
      <ion-item href="#/app/watch" class="item item-thumbnail-left item-icon-right">
        <img src="https://admin.insidesoccer.com/is5-asset/8/38/668738/668738_thumbnail_url_1366663620685.jpg" >
        <h2>Shot stopping when combination play inside penalty area</h2>
        <p><span class="video-library">Strategy</span></p>
        <p class="video-rating">
          <i class="ion-ios-star"></i>
          <i class="ion-ios-star"></i>
          <i class="ion-ios-star"></i>
          <i class="ion-ios-star"></i>
        </p>
        <i class="icon ion-ios-arrow-forward"></i>
      </ion-item>
      <ion-item href="#/app/watch" class="item item-thumbnail-left item-icon-right">
        <img src="https://admin.insidesoccer.com/is5-asset/2/82/401682/401682___1320349578773.jpg" >
        <h2>Attacking tactics: 11v11</h2>
        <p><span class="video-library">Strategy</span></p>
        <p class="video-rating">
          <i class="ion-ios-star"></i>
          <i class="ion-ios-star"></i>
        </p>
        <i class="icon ion-ios-arrow-forward"></i>
      </ion-item>
      <ion-item href="#/app/watch" class="item item-thumbnail-left item-icon-right">
        <img src="https://admin.insidesoccer.com/is5-asset/7/07/28107/28107___1279610119317.jpg" >
        <h2>Attacking: Goal kick</h2>
        <p><span class="video-library">Strategy</span></p>
        <p class="video-rating">
          <i class="ion-ios-star"></i>
          <i class="ion-ios-star"></i>
          <i class="ion-ios-star"></i>
          <i class="ion-ios-star"></i>
        </p>
        <i class="icon ion-ios-arrow-forward"></i>
      </ion-item>
      <ion-item href="#/app/watch" class="item item-thumbnail-left item-icon-right">
        <img src="https://admin.insidesoccer.com/is5-asset/3/23/22423/22423___1276558414309.jpg" >
        <h2>Tactical interview</h2>
        <p><span class="video-library">Strategy</span></p>
        <p class="video-rating">
          <i class="ion-ios-star"></i>
          <i class="ion-ios-star"></i>
          <i class="ion-ios-star"></i>
          <i class="ion-ios-star"></i>
        </p>
        <i class="icon ion-ios-arrow-forward"></i>
      </ion-item>

      <ion-item href="#/app/watch" class="item item-thumbnail-left item-icon-right">
        <img src="https://admin.insidesoccer.com/is5-asset/3/33/715833/715833_thumbnail_url_1378144887912.jpg" >
        <h2>Core Stability</h2>
        <p><span class="video-library">Drills and Practices</span></p>
        <p class="video-rating">
          <i class="ion-ios-star"></i>
          <i class="ion-ios-star"></i>
          <i class="ion-ios-star"></i>
          <i class="ion-ios-star"></i>
        </p>
        <i class="icon ion-ios-arrow-forward"></i>
      </ion-item>
      <ion-item href="#/app/watch" class="item item-thumbnail-left item-icon-right">
        <img src="https://admin.insidesoccer.com/is5-asset/5/05/205/205.jpg" >
        <h2>Passing and Movement</h2>
        <p><span class="video-library">Drills and Practices</span></p>
        <p class="video-rating">
          <i class="ion-ios-star"></i>
          <i class="ion-ios-star"></i>
          <i class="ion-ios-star"></i>
          <i class="ion-ios-star"></i>
        </p>
        <i class="icon ion-ios-arrow-forward"></i>
      </ion-item>
      <ion-item href="#/app/watch" class="item item-thumbnail-left item-icon-right">
        <img src="https://admin.insidesoccer.com/is5-asset/0/60/622560/622560_1350928991875.png" >
        <h2>Passing and Rotation</h2>
        <p><span class="video-library">Fitness</span></p>
        <p class="video-rating">
          <i class="ion-ios-star"></i>
          <i class="ion-ios-star"></i>
          <i class="ion-ios-star"></i>
          <i class="ion-ios-star"></i>
        </p>
        <i class="icon ion-ios-arrow-forward"></i>
      </ion-item>
      <ion-item href="#/app/watch" class="item item-thumbnail-left item-icon-right">
        <img src="https://admin.insidesoccer.com/is5-asset/6/86/686/686.jpg" >
        <h2>Injury prevention</h2>
        <p><span class="video-library">Brandi Chastain</span></p>
        <p class="video-rating">
          <i class="ion-ios-star"></i>
          <i class="ion-ios-star"></i>
          <i class="ion-ios-star"></i>
        </p>
        <i class="icon ion-ios-arrow-forward"></i>
      </ion-item>
      <ion-item href="#/app/watch" class="item item-thumbnail-left item-icon-right">
        <img src="https://admin.insidesoccer.com/is5-asset/5/85/685/685.jpg" >
        <h2>Cordination, Balance and Agility</h2>
        <p><span class="video-library">Brandi Chastain</span></p>
        <p class="video-rating">
          <i class="ion-ios-star"></i>
          <i class="ion-ios-star"></i>
          <i class="ion-ios-star"></i>
          <i class="ion-ios-star"></i>
        </p>
        <i class="icon ion-ios-arrow-forward"></i>
      </ion-item>
      <ion-item href="#/app/watch" class="item item-thumbnail-left item-icon-right">
        <img src="https://admin.insidesoccer.com/is5-asset/0/70/706970/706970_thumbnail_url_1375119205107.jpg" >
        <h2>Eddie Newton, Chelsea FC</h2>
        <p><span class="video-library">Interviews</span></p>
        <p class="video-rating">
          <i class="ion-ios-star"></i>
          <i class="ion-ios-star"></i>
          <i class="ion-ios-star-half"></i>
        </p>
        <i class="icon ion-ios-arrow-forward"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
