<ion-view view-title="Videos">
  <ion-content>
      <div class="list card">
        <div class="item item-avatar">
          <img src="http://upload.wikimedia.org/wikipedia/en/thumb/7/79/Ajax_Amsterdam.svg/200px-Ajax_Amsterdam.svg.png">
          <h2>Attacking: Throw In</h2>
          <p><span class="video-library">Ajax</span></p>
          <p class="video-rating">
            <i class="ion-ios-star"></i>
            <i class="ion-ios-star"></i>
            <i class="ion-ios-star"></i>
            <i class="ion-ios-star-half"></i>
          </p>
        </div>

        <div class="item item-body">
          <div class="video-container">
            <iframe src="https://www.youtube.com/embed/eAx9f2Hj-Vk"></iframe>
          </div>
          <p>
            Radomir Antic, discusses the details of how a team can implement the "throw in" to keep possession in the defending and middle thirds of the field. In the final third the "throw in" can be used as a rehearsed set piece to create scoring chances in the penalty box.
          </p>
        </div>

        <div class="item tabs tabs-secondary tabs-icon-left">
          <a class="tab-item" href="#">
            <i class="icon ion-plus"></i> My Library
          </a>
          <a class="tab-item" href="#">
            <i class="icon ion-share"></i>
            Share
          </a>
        </div>
      </div>
  </ion-content>
</ion-view>
